extends layout

block content
  .px-3.Journal
    .flex-row
      .col-12.col-md-5.col-lg-4.col-xl-3
        form.Journal__Form.js-create-journal-form.my-4.my-md-5.flex-row(action="/api/post/entry")
          .form-header.pb-2
            h2 Add a Weather Journal Entry
          .form-group
            input.form-input#jTitle(name="journalTitle",required="required")
            label.pl-3(for="jTitle") Entry Title
          .form-group
            input.form-input#jDate(name="journalDate",type="date",required="required")
            label.pl-3(for="jDate") Date
          .form-header.pt-2.pb-1.w-100
            h4 Location
            p Please feel free to check that the detected location is correct, if not feel free to edit it to update weather information.
          .form-group.col-6.pr-2
            input.form-input#jLat(name="journalLat", disabled)
            label.pl-3(for="jLat") Latitude
          .form-group.col-6.pl-2
            input.form-input#jLng(name="journalLng", disabled)
            label.pl-2(for="jLng") Longitude
          p.text-warning.pb-2 If the GPS coordinates aren't showing / incorrect, please type the city below.
          .form-group.col-7.pr-2.pb-1
            input.form-input#jCity(name="journalCity", disabled)
            label.pl-3(for="jCity") City
          .form-group.col-5.pl-2.pb-1
            input.form-input#jCountry(name="journalCountry", disabled)
            label.pl-2(for="jCountry") Country
          p
            sup * For the Country input, please make sure to use to the
              a(href="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes")  ISO 3166 2 digit country codes
          .form-header.pt-2.pb-0.w-100
            h4 Weather Details
            p Please feel free to check that the detected location is correct, if not feel free to edit it to update weather information.
          .form-group.col-6.pr-2
            input.form-input#jTemp(name="journalTemp", disabled)
            label.pl-3(for="jTemp") Temperature
          .form-group.col-6.pl-2
            input.form-input#jHumid(name="journalHumid", disabled)
            label.pl-2(for="jHumid") Humidity
          .form-btn-group.mt-3.col-12.d-flex.align-items.stretch
            .col-6.pr-2
              button.Form__Button.btn.btn-secondary.w-100.js-update-weather
                span.w-100 ☁ Get Weather
            .col-6.pl-2
              button.Form__Button.btn.btn-primary.w-100.js-save-entry(style="height:100%;")
                span.w-100 + Add entry
      .col.col-12.col-md-9
        .row.js-journal-entry-list.Journal__List.my-4.my-md-5
